#hot{
    margin-top: -10px;
}
/* .carousel-item{
    height: 100%;
}

.carousel-caption p{
    font-size:15px;
    margin: 0px;
}
.carousel-caption h5{
    padding: 0px;
    margin: 0px;
} */

ousel-caption {
	bottom: 100px;
	
}



@media (max-width: 550px) {
    .carousel-caption {
        bottom: 50px;
    }
    .carousel-item img{
        height: 100vh;
        min-height: 300px;
    }
    
}
    
